/* COLORS */
.grey_200 {
  background-color: #EEEEEE;
}
.grey_300 {
  background-color: #E0E0E0;
}
.grey_400 {
  background-color: #BDBDBD;
}
.grey_500 {
  background-color: #9E9E9E;
}
.grey_600 {
  background-color: #757575;
}
.grey_700 {
  background-color: #616161;
}
.grey_800 {
  background-color: #424242;
}
.grey_900 {
  background-color: #212121;
}